node_modules
.angular
node_modules/karma-coverage/gruntfile.js
.DS_Store
.gitignore
angular.json
karma.conf.js
package-lock.json
package.json
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
src/custom-theme.scss
src/favicon.ico
src/index.html
src/main.ts
src/polyfills.ts
src/styles.css
src/test.ts
src/app/app-routing.module.ts
src/app/app.component.css
src/app/app.component.html
src/app/app.component.spec.ts
src/app/app.component.ts
src/app/app.module.ts
src/app/pages/home/home.component.css
src/app/pages/home/home.component.html
src/app/pages/home/home.component.spec.ts
src/app/pages/home/home.component.ts
src/app/pages/quiz-form/quiz-form.component.css
src/app/pages/quiz-form/quiz-form.component.html
src/app/pages/quiz-form/quiz-form.component.spec.ts
src/app/pages/quiz-form/quiz-form.component.ts
src/app/pages/quizcard/quizcard.component.css
src/app/pages/quizcard/quizcard.component.html
src/app/pages/quizcard/quizcard.component.ts
src/app/pages/resultpage/resultpage/resultpage.component.css
src/app/pages/resultpage/resultpage/resultpage.component.html
src/app/pages/resultpage/resultpage/resultpage.component.ts
src/app/services/quiz-interfaces.ts
src/app/services/quiz-service.ts
src/app/services/session-service.ts
src/assets/.gitkeep
src/environments/environment.prod.ts
src/environments/environment.ts
triviaApp/.browserslistrc
triviaApp/.editorconfig
triviaApp/.gitignore
triviaApp/angular.json
triviaApp/karma.conf.js
triviaApp/package-lock.json
triviaApp/package.json
triviaApp/tsconfig.app.json
triviaApp/tsconfig.json
triviaApp/tsconfig.spec.json
triviaApp/.vscode/extensions.json
triviaApp/.vscode/launch.json
triviaApp/.vscode/tasks.json
triviaApp/src/custom-theme.scss
triviaApp/src/favicon.ico
triviaApp/src/index.html
triviaApp/src/main.ts
triviaApp/src/polyfills.ts
triviaApp/src/styles.css
triviaApp/src/test.ts
triviaApp/src/app/app-routing.module.ts
triviaApp/src/app/app.component.css
triviaApp/src/app/app.component.html
triviaApp/src/app/app.component.spec.ts
triviaApp/src/app/app.component.ts
triviaApp/src/app/app.module.ts
triviaApp/src/app/pages/home/home.component.css
triviaApp/src/app/pages/home/home.component.html
triviaApp/src/app/pages/home/home.component.spec.ts
triviaApp/src/app/pages/home/home.component.ts
triviaApp/src/app/pages/quiz-form/quiz-form.component.css
triviaApp/src/app/pages/quiz-form/quiz-form.component.html
triviaApp/src/app/pages/quiz-form/quiz-form.component.spec.ts
triviaApp/src/app/pages/quiz-form/quiz-form.component.ts
triviaApp/src/app/pages/quizcard/quizcard.component.css
triviaApp/src/app/pages/quizcard/quizcard.component.html
triviaApp/src/app/pages/quizcard/quizcard.component.ts
triviaApp/src/app/pages/resultpage/resultpage/resultpage.component.css
triviaApp/src/app/pages/resultpage/resultpage/resultpage.component.html
triviaApp/src/app/pages/resultpage/resultpage/resultpage.component.ts
triviaApp/src/app/services/quiz-interfaces.ts
triviaApp/src/app/services/quiz-service.ts
triviaApp/src/app/services/session-service.ts
triviaApp/src/assets/.gitkeep
triviaApp/src/environments/environment.prod.ts
triviaApp/src/environments/environment.ts
