.quizcard {
  margin: 0% auto;
  width: 20%;
  margin-top: 5%;
  background-color: #1d506c;
}

select {
  height: 2rem;
  border-radius: 5px;
  margin: 10px;
}

.submitbutton {
  margin-left: 40%;
  padding: 2%;
  margin-top: 7%;
}


.cardtitle {
  display: none;
}